.mini {
    background-color: bisque;
}
.j {
    background-color:aqua;
}

.icon-header {
    height: 90px;
    
}
.icons {
    background-color: azure;
    text-align: center;
    padding-top: 15px;
}

.icony {
   margin-left: 10px;
   margin-right: 10px;

}


.l {
    background-color: aquamarine;
}